.carousel-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  background-color: var(--forth-color);
}

.carousel-container::-webkit-scrollbar {
  display: none;
}

.carousel-slide {
  flex: 1 0 30%;
  text-align: center;
  scroll-snap-align: center;
  margin: 0.7rem 0.5rem;
  padding-bottom: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main-color);
  font-weight: bold;
  color: var(--secondary-color);
}

.item > * {
  padding: 0;
  margin: 0.3rem;
}

.item p:first-of-type {
  width: 80%;
  color: var(--terciary-color);
}


.carousel-slide img {
  border-radius: 1rem;
  width: 90%;
}
@media (max-width: 600px) {
  .carousel-slide {
    flex: 1 0 90%;
  }
}