.carousel-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.carousel-container::-webkit-scrollbar {
  display: none;
}

.carousel-slide {
  flex: 1 0 30%;
  scroll-snap-align: center;
  margin: 0.7rem 0.5rem;
  border-radius: 1rem;
}

.carousel-slide img {
  border-radius: 1rem;
}
@media (max-width: 600px) {
  .carousel-slide {
    flex: 1 0 90%;
  }
}