* {
  margin: 0;
  padding: 0;
}

footer {
  color: white;
  background-color: var(--terciary-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  
}

footer li {
  list-style-type: none;
}

footer a {
  text-decoration: none;
  color: white;
}

.list-title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem 0.5rem;
  text-align: center;
}

.logo {
  border: 1px solid var(--forth-color);
  color: var(--forth-color);
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.4rem;
  border-radius: 0.1rem;
  margin: auto;
  width: 70%;
}

.footer-moto {
  width: 60%;
  margin: auto;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-transform: capitalize;
}


.footer-content {
  width: 80%;
  display: flex;
}

.column {
  width: 25%;
  margin: 1rem;
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-between;  
}

.company,
.webshop {
  width: 100%;
  margin: 0.3rem;
}

.webshop {
  text-align: right;
}
