body {
  position: relative;;
}

i {
  color: var(--forth-color);
}
nav {
  width: 100%;
  position: relative;
  background-color: var(--main-color);
  letter-spacing: 0.2rem;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

}


.bottom li {
  display: inline-block;
}



nav .logo {
  width: auto;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 1rem;
  border-radius: 0.1rem;
}

.logo span {
  color: var(--forth-color);
}


.bottom .right  {

  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto 1rem; 
}

.bottom a {
  text-decoration: none;
  
}

.bottom-left {
  flex: 1;
}

.bottom-left a{
  text-transform: uppercase;
  font-size: 0.95rem;
  color: var(--forth-color);
  padding-inline: 1rem;
}

.bottom-middle {
  background-color: var(--forth-color);
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0 1rem;
  max-width: 40%;
 
  
}


.bottom-middle input {
  border: none;
  font-size: 1rem;
  width: 100%;
  padding: 0.3rem;
}

.bottom-middle input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: var(--main-color);
}


.bottom-middle i {
  color: var(--terciary-color);
}

.bottom-right i{
  font-size: 1.18rem;
  padding-inline: 0.6rem;
}

.bottom-right i:hover{
  color: var(--secondary-color);
  scale: 1.5;
}

.bottom-left a:hover{
 text-decoration: solid underline var(--secondary-color) 0.15rem;
 text-underline-offset: 0.5rem;

}

.fa-heart{
  margin: 0.6rem; 
}

.fa-shopping-cart {
  margin-right: 1rem;
}

.bottom  .hamb { 
  display: none;
  
}


@media only screen  and (max-width: 820px) {
  .bottom  .hamb  {
    display: inline-block;
   
  }
  .bottom-left .page {
    display: none;
  }
  .bottom-middle input {
    width: 40%;
  }
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  float: left;
  left: 0;
  background-color: var(--terciary-color);
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {text-decoration: solid underline var(--secondary-color) 0.15rem;}

.dropdown:hover .dropdown-content {display: block;}