i {
  color: white;
}
nav {
  width: 100%;
  position: relative;
  
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

}


.bottom li {
  display: inline-block;
}



.logo {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.4rem;
  border-radius: 0.1rem;
}

.logo span {
  color: var(--forth-color);
}


.bottom .right  {

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1; 
  margin: auto 1rem; 
}

.bottom a {
  text-decoration: none;
  
}

.bottom-left a{
  text-transform: uppercase;
  font-size: 0.95rem;
  color: var(--forth-color);
  padding: 0.7rem 0.4rem;
  border-radius: 0.1rem;
}

.bottom-middle {
  background-color: var(--forth-color);
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin: 0 1rem;
 
  
}

.bottom-middle input {
  width: 92%;
  border: none;
  font-size: 0.6rem;
}

.bottom-middle i {
  color: var(--terciary-color);
}

.bottom-right i{
  font-size: 1.18rem;
}

.bottom-right i:hover{
  color: var(--secondary-color);
}

.bottom-left a:hover{
  background-color: var(--secondary-color);
}

.fa-heart{
  margin: 0.6rem;
  
}
