* {
  margin: 0;
  padding: 0;
  
}

nav {
  width: 100%;
  height: auto;
 
 }



img {
  width: 1rem;
  
}

.top {
  display: flex;
  justify-content: space-between;
 
  
}

.start,
.end {
  display: flex;
  gap: 0.4rem;
}

.bottom ul{
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  

}

.bottom ul li{
  display: inline-block;
  
  }

.bottom li a {
  text-decoration: none;
  color: white;
}

input[type="text"] {
  background: rgba(255, 255, 255, 0.947);
  border: none;
  padding: 0.7rem;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.295);
  
  border-radius: 1.4rem;
}

