body {
  position: relative;
}

header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  opacity: 0.96;
}

.top {
  background-color: var(--terciary-color);
  width: 100%;
  font-size: 0.8rem;
  color: var(--forth-color);
   display: flex;
  justify-content: space-between;
  align-items: center; 
} 

.top li {
  display: inline-block;
}

.top i {
  font-size: 0.8rem;
  
}

.start a {
  text-decoration: none;
  margin-right: 0.5rem;
  color: var(--forth-color);
}

.start,
.end {
  margin: 0.5em;
}

.end {
  background-color: var(--secondary-color);
  padding: 0.2rem;
}


#hero-section {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  gap: 2rem;
 }

 .hero-section-content {
  width: 40%;
  position: relative;
  
 }

.banner-pic {
  width: auto;
  height: calc(100vh - 77px);
  filter: brightness(0.5);
  animation: slider infinite 2s;
}



.moto {
  font-size: 4.5rem;
  text-align: left;
  color: var(--secondary-color);
  font-weight: bold;
}

.shop-now {
  text-align: justify;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.6);
  width: 40%;
}

.shop-now-wrapper {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 5rem 0 0 0;
}

.buy-here {
  font-size: 1.5rem;
  
}

.hero-btns {
  display: flex;
  justify-content: end;
  gap: 2rem;
  z-index: 1;
}

.hero-btns button {
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  border: none;
  border-radius: 0.2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.hero-btns button:first-of-type {
  background: var(--main-color);
  color: white;
  border: solid 1px white;
}

.hero-btns button:nth-of-type(2) {
  background-color: rgb(81, 61, 8);
  color: white;
}

.graphic {
  width: 65%;
  height: 85%;
  border-radius: 2rem 50% 5rem 50%;
  position: absolute;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.6);
  top: 4rem;
  left: 10rem;
  background-color: var(--secondary-color);
  background-size: cover;
  z-index: -1;
}

.discount {
  color: var(--forth-color);
  padding: 5rem;
  font-size: 2rem;
  text-align: center;
  word-spacing: 0.8rem;
  position: relative;
  background-color: var(--secondary-color);
}

.new-in {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--terciary-color);
}

.newsletter {
  width: 100%;
  
}







