#hero-section {
  width: 100%;
  display: flex;
  justify-content: center;
 }

 .hero-section-content {
  width: 60%;
  position: relative;
 }

.banner-pic {
  width: 100%;
  filter: brightness(0.5);
}

.moto {
  font-size: 2.5rem;
}

.shop-now {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 2rem;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.6);
  width: 40%;
  padding: 3rem;
}

.buy-here {
  font-size: 1rem;
  
}

.hero-btns {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  
  
}

.hero-btns button {
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  border: none;
  border-radius: 0.2rem;
}

.hero-btns button:first-of-type {
  
  background: none;
  color: white;
  border: solid 1px white;
}

.hero-btns button:nth-of-type(2) {
  background-color: rgb(81, 61, 8);
  color: white;
}

.graphic {
  width: 70%;
  height: 85%;
  border-radius: 2rem 7rem 5rem 14rem;
  position: absolute;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.6);
  top: 2rem;
  left: 5rem;
  background-color: var(--secondary-color);
  background-size: cover;
  z-index: -1;
}
#popular {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  }

#popular iframe {
  max-width: 220px;
  
}

header {
  width: 100%;
}

.best-sellers {
  width: 100%;
  display: flex;
}

.product {
  width: 100%;
}

.product-card {
  width: calc(100%/3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  background-color: aqua;
  gap: 0.3rem;
  border-radius: 10px;
  z-index: -1;
  
}







