.newsletter {
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 0;
  
}

.newsletter-left {
  flex: 1;
  padding: 2rem;
}


.newsletter-left p:first-of-type {
  color: var(--main-color);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}
.newsletter-left p:nth-of-type(2){
  color: var(--forth-color);
  font-size: 1.2rem;
}

.newsletter-right {
  display: flex;
  flex: 2;
  gap: 0.3rem;
  align-items: center;
  margin: auto;
  padding: 0 2rem;
}
.newsletter-right > * {
  border: none;
  padding: 1rem;
  box-shadow: 0 0 10px black;
  margin: auto;
}

#submit {
  flex: 1;
  border-radius: 2rem 0 0 2rem;
  align-items: center;

}

.sign-up {
  border-radius: 0 2rem 2rem 0;
  text-transform: uppercase;
  background-color: rgb(25, 23, 23);
  color: var(--forth-color);
  border: 1px solid var(--forth-color);

}
.sign-up:hover {
  background-color: var(--secondary-color);
  scale: 1.1;
}
.sign-up:active {
  scale: 0.95;
}

@media only screen and (max-width: 477px) {
  .newsletter-left {
    text-align: center;
  }
}