@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');@import url(dropdown.css);
@import url(carousel.css);
@import url(popup.css);



:root {
  --main-color: rgb(18, 18, 18);
  --secondary-color: rgb(81, 61, 8);
  --terciary-color: rgb(38, 38, 38);
  --forth-color: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}


body {
  background-color: var(--forth-color);
 
}

.auto-height-iframe  {
  border: none;
  width: 100%;
  margin: 0;
  
}


h2 {
  text-align: center;
  background-color: var(--forth-color);
  color: var(--main-color);
  text-decoration: underline 0.4rem var(--secondary-color);
 
  font-size: 2.5rem;
  padding: 1.5rem;
  text-transform: uppercase;
}
