<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/style.css" as="style">
</head>
<body>
  <object>
    <footer>
      <div  class="wrapper">
        <a href="../index.html" target=""><article class="logo">Metro<span>Jewel</span></article></a>
      
      <div class="footer-content">
        <div class="column navigation">
          <ul>
            <li><a href="">new in</a></li>
            <li><a href="">sale</a></li>
            <li><a href="">categories</a></li>
            <li><a href="">about us</a></li>
            <li><a href="">blog/a></li>
            <li><a href="">contact</a></li>
          </ul>
        </div>
        <div class="column costumer_care">
          <ul>
            <li><a href="">FAQs</a></li>
            <li><a href="">customer support</a></li>
            <li><a href="">terms of service</a></li>
            <li><a href="">privacy policy</a></li>
            <li><a href="">manage cookies</a></li>
            <li><a href="">security</a></li>
          </ul>
        </div>
        <div class="column my_account">
          <ul>
            <li><a href="">login</a></li>
            <li><a href="">signup</a></li>
            <li><a href="">wishlist</a></li>
            <li><a href="">cart</a></li>
          </ul>
        </div>
        <div class="column top_searches">
          <ul>
            <li><a href="">antik prsten</a></li>
            <li><a href="">antik prsten</a></li>
            <li><a href="">antik prsten</a></li>
            <li><a href="">antik prsten</a></li>  

          </ul>
        </div>
        </div>
    </div>
    <div class="info">
      <div class="company">&copy;metro jewel d.o.o.</div>
      <div class="webshop">webshop made by</div>
    </div>
    </footer>
  </object>
</body>
</html>