<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/style.css" as="style">
</head>
<body>
  <object>
    <footer>
      <div class="newsletter">
        Subscribe to our newslatter to get new aditions first
      </div>
      <div  class="wrapper">
      <img src="../images/graphics/logo.svg" alt="logo_grubic_desing">
      <div class="footer-content">
        <div class="column navigation">
          <ul>
            <li><a href="">new in</a></li>
            <li><a href="">sale</a></li>
            <li><a href="">categories</a></li>
            <li><a href="">about us</a></li>
            <li><a href="">blog/a></li>
            <li><a href="">contact</a></li>
          </ul>
        </div>
        <div class="column costumer_care">
          <ul>
            <li><a href="">FAQs</a></li>
            <li><a href="">customer support</a></li>
            <li><a href="">terms of service</a></li>
            <li><a href="">privacy policy</a></li>
            <li><a href="">manage cookies</a></li>
            <li><a href="">security</a></li>
          </ul>
        </div>
        <div class="column my_account">
          <ul>
            <li><a href="">login</a></li>
            <li><a href="">signup</a></li>
            <li><a href="">wishlist</a></li>
            <li><a href="">cart</a></li>
          </ul>
        </div>
        <div class="column top_searches">
          <ul>
            <li><a href="">antik prsten</a></li>
            <li><a href="">antik prsten</a></li>
            <li><a href="">antik prsten</a></li>
            <li><a href="">antik prsten</a></li>  

          </ul>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11121.064972504304!2d15.9979927!3d45.8259517!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4765d6fd8334185b%3A0x53438919b5a274a0!2sGrubic%20design!5e0!3m2!1sen!2shr!4v1704654382393!5m2!1sen!2shr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="info">
      <ul>
        <li><a href="">copyright gribić design d.o.o.</a></li>
        <li><a href="">OIB</a></li>
        <li><a href="">adresa</a></li>
        <li><a href="">tel</a></li>
        <li><a href="">email</a></li>
      </ul>
    </div>
    </footer>
  </object>
</body>
</html>