<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/style.css" as="style">
</head>
<body>
  <object>
    <nav>
      <section class="bottom">
        <article class="left">
          <a href="../index.html" target=""><article class="logo">Metro<span>Jewel</span></article></a>
          </article>
        </article>
        <article class="right">
          <article class="bottom-left">
            <ul>
              <li><a href="">Home</a></li>
              <li><a href="">New in!</a></li>
              <li><a href="">Products</a></li>
              <li><a href="">about</a></li>
              <li><a href="">contact</a></li>
            </ul>
          </article>
          <article class="bottom-middle">
            <input type="text" placeholder="SEARCH">
            <i class="fa fa-search" aria-hidden="true"></i>
          </article>
          <article class="bottom-right">
            <ul>
              <li><a href=""><i class="fa fa-user" aria-hidden="true"></i>
              </a></li>
              <li><a href=""><i class="fa fa-heart" aria-hidden="true"></i>
              </a></li>
              <li><a href=""><i class="fa fa-shopping-cart" aria-hidden="true"></i>
              </a></li>
            </ul>
          </article>
        </article>
       
      </section>
    </nav>
  </object>
</body>
</html>