<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/header.css" as="style">
  <link rel="stylesheet" href="../css/style.css">
  <script src="js/iframes.js"></script>
</head>
<body>
  <object>
    <nav>
    <div class="top">
      <div class="start">
        <img src="../images/icons/email-svgrepo-com.svg" alt="mail">
        <img src="../images/icons/phone-call-svgrepo-com.svg" alt="phone">       
        <img src="../images/icons/whatsapp-svgrepo-com.svg" alt="whatsapp">
      </div>    
        
        <div class="middle">
          <input type="text" placeholder="search">
        </div>    
      
    </div>  
    <div class="bottom">
      <div class="top-part">
        <img src="../images/icons/instagram-svgrepo-com (1).svg" alt="instagram">  
        <img src="../images/icons/twitter-svgrepo-com.svg" alt="twitter-x">  
        <img src="../images/icons/shopping-cart-svgrepo-com (2).svg" alt="">
      </div>
      <div class="bottom-part">
        <ul>
          <li><a href="">new in</a></li>
          <li><a href="">sale</a></li>
          <li><a href="">categorires</a></li>
          <li><a href="">about us</a></li>
          <li><a href="">blog</a></li>
          <li><a href="">contact</a></li>
        </ul>
     
      </div>
         </div>
        </nav>
  </object>
</body>
</html>