<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/style.css" as="style">
</head>
    <nav>
      <section class="bottom">
        <article class="left">
          <a href="../index.html" target="_parent">
         <article class="logo">Metro<span>Jewel</span></article></a>
          </article>
        </article>
        <article class="right">
          <article class="bottom-left">
            <ul>
              <li class="page"><a href="../index.html" target="_parent">Home</a></li>
              <li class="page"><a href="../newIn.html" target="_parent">New in!</a></li>
              <li class="page"><a href="../shop.html" target="_parent">Products</a></li>
              <li class="page"><a href="">about</a></li>           
              <srticle class="dropdown">
                <li class="page"><a href="">contact</a></li>
                <article class="dropdown-content">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </article>
              </article>
              
            </ul>
          </article>
          <article class="bottom-middle">
            <input type="text" placeholder="SEARCH">
            <i class="fa fa-search" aria-hidden="true"></i>
          </article>
          <article class="bottom-right">
            <ul>
              <li><a href=""><i class="fa fa-user" aria-hidden="true"></i>
              </a></li>
              <li><a href=""><i class="fa fa-heart" aria-hidden="true"></i>
              </a></li>
              <li><a href=""><i class="fa fa-shopping-cart" aria-hidden="true"></i>
              </a></li>
              <li class="hamb"><i class="fa fa-bars" aria-hidden="true"></i></li>
            </ul>
          </article>
        </article>
      </section>
    </nav>

</html>