<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css" as="style">
  <link rel="stylesheet" href="/css/productCard.css">
</head>
<body>
  <object class="wrapper">
    <section class="product-card"> 
      <img src="../images/products/narukvica1.webp" alt="">
      <h3>product name</h3>
      <p>Delivery in 5-7 days</p>
      <p>35.99$</p>
      <article class="shopping">
      <button class="cart">add to cart</button>
      <button class="buy">buy</button>
    </article>
      
      </article>
    </section>
  </object>
</body>
</html>